// Colors
$dark-blue-color: #5e4ccf;
$orange-bright-color: rgb(255, 56, 82);
$dark-deep-blue-color: rgb(24, 26, 48);
$white-lime-color: #f7f7f7;
$gray-lime-color: rgb(224, 224, 224);


//Fonts Variables
$koho: "koho",sans-serif;
$karla: "karla",sans-serif;
$poppins: "poppins", sans-serif;
$caveat: "caveat",sans-serif;