{% extends 'base.html' %}

{% block content %}

<div class="form-choose-container">
    <div class="container">
        <div class="form-choose">
            <div class="form-choose-inner-container">
                <div class="form-choose-title">
                    <h2>Welcome Back</h2>

                </div>
                <div class="actual-form-choose">
                    <div class="login-form-option option">
                        <a href="{% url 'users:login_view' %}">Sign In</a>
                    </div>
                    <div class="register-form-option option">
                        <a href="{% url 'users:register_view'%}">Sign Up</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}