{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <div class="container">
        <div class="form-view">
            <div class="form-view-inner-container">
                <div class="form-view-title">
                    <h2>Welcome</h2>
                    <p>By logging in you accept our <a href="#">Privacy Policy</a>  and <a href="">Terms of Service</a>.</p>
                </div>
                <div class="form-view-content">
                    <div class="form-login-btn">
                        <a href="#">Sign In</a>
                    </div>
                    <div class="form-register-btn">
                        <a href="#">Sign Up</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}