{% extends 'base2.html' %}

{% block content %}
<div class="main-container">
    <div class="posts-section">
        <div class="create_post_section">

        </div>
        <div class="all_posts_section">
            {% for post in posts %}
            <div class="post">
                <div class="post_container">
                    <div class="post_title">
                        <div class="post_author_info">
                            <div class="img">
                                <img src="{{post.author.profile.profile_pic.url}}" alt="">
                            </div>
                            <div class="info">
                                <h2>{{post.author.first_name}} {{post.author.last_name}}</h2>
                                <p>@{{post.author.username}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="post_content">
                        <p>{{post.status}}</p>
                    </div>
                    <!-- <div class="extra_content">
                        <div class="like">
                            <a href="#">Like</a>
                        </div>
                        <div class="dislike">
                            <a href="#">Dislike</a>
                        </div>
                        <div class="comment">
                            <p>comment</p>
                        </div>
                    </div> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="main-info-section">
        <div class="my_account_info">
            <div class="my_account_info_container">
                <div class="my_info">
                    <div class="img">
                        <img src="{{request.user.profile.profile_pic.url}}" alt="">
                    </div>
                    <div class="info">
                        <h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
                        <p>@{{request.user.username}}</p>
                    </div>
                </div>
                <div class="profile_view">
                    <a href="{% url 'users:profile_view' request.user%}">Visit</a>
                </div>
            </div>
        </div>
        <div class="suggest_account_section">
            <div class="suggest_account_section_container">
                <div class="suggest_account_section_title">
                    <h2>Suggested Account</h2>
                </div>
                <div class="suggest_account_container">
                    <!-- <div class="suggest_account">
                        <div class="suggest_user_img">
                            <img src="{{request.user.profile.profile_pic.url}}" alt="">
                        </div>
                        <div class="suggest_user_info">
                            <a href="#">{{request.user.first_name}} {{request.user.last_name}}</a>
                            <p>@{{request.user.username}}</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}