.info-messages{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 270px;
    height: 100px;
    background-color: #fff;
    @include flexbox(center, row);
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    z-index: 2;
    .info-messages-container{
        width: 250px;
        height: 80px;
        @include flexbox(space-between, column);
        align-items: flex-start;
        p{
            font-size: 14px;
            font-family: $karla;
            // margin-bottom: 20px;
        }
        button{
            border: none;
            outline: none;
            font-family: $karla;
            color: #fff;
            background: $dark-deep-blue-color;
            padding: 5px 14px;
            border-radius: 5px;
        }
    }
    .alert-warning{
        p{
            color: $orange-bright-color;
        }
        button{
            background: $orange-bright-color;
        }
    }
}