.register-form-container {
    width: 100%;
    height: 100vh;

    .container {
        height: 100%;
        @include flexbox(center, row);

        .register-form {
            width: 300px;
            height: auto;
            // border: 1px solid #000;
            @include flexbox(center, row);

            .register-form-inner-container {
                width: 280px;
                height: auto;

                // border: 1px solid #000;
                .register-form-title {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    margin-bottom: 20px;

                    h2 {
                        font-size: 20px;
                        color: $dark-deep-blue-color;
                        font-family: $karla;
                        font-weight: 400;
                    }
                }

                .register-error {
                    width: 100%;
                    min-height: 25px;
                    background: rgba(255, 69, 69, 0.74);
                    @include flexbox(center, column);
                    margin-bottom: 10px;
                    border-radius: 5px;
                    border: 1px dashed rgb(255, 67, 67);

                    p {
                        font-size: 14px;
                        font-family: $karla;
                        color: #fff;
                        padding: 5px 2px;
                    }
                }

                .actual-register-form {
                    width: 100%;
                    height: auto;

                    form {
                        width: 100%;
                        height: auto;

                        .form-control {
                            width: 100%;
                            height: auto;

                            input {
                                width: 100%;
                                padding: 7px 6px;
                                font-size: 15px;
                                border: 0.5px solid #dfdfdf;
                                color: #3b3b3b;
                                background-color: #fff;
                                border-radius: 5px;
                                transition: 0.5s ease;
                                margin-bottom: 10px;
                                font-family: $karla;

                                &:hover,
                                &:focus {
                                    outline: none;
                                    border-color: royalblue;
                                }
                            }
                        }

                        .double-form-input {
                            width: 100%;
                            height: auto;
                            @include flexbox(space-between, row);

                            input {
                                display: inline-block;
                                width: 49%;
                            }
                        }

                        .have-an-account-section {
                            width: 100%;
                            height: auto;
                            margin-bottom: 20px;

                            p {
                                font-size: 14px;
                                font-family: $karla;
                                color: $dark-deep-blue-color;

                                a {
                                    color: $dark-blue-color;
                                    text-decoration: none;
                                }
                            }
                        }

                        .sign-up-button {
                            width: 100%;
                            height: 35px;
                            @include flexbox(center, row);

                            button {
                                width: 100%;
                                height: 100%;
                                border: none;
                                outline: none;
                                font-family: $karla;
                                background: $dark-blue-color;
                                color: #fff;
                                border-radius: 5px;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 310px){
                    &{
                        width: 95%;
                    }
                }
            }
            @media only screen and (max-width: 310px){
                &{
                    width: 100%;
                }
            }
        }
    }
}